@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}
a {
    color: inherit;
}

a:visited {
    color: inherit;
}

a:hover {
    color: tomato;
}


.wrapper{
    margin: 0 auto;
    max-width: 1080px;
}

.select {
    padding: 20px 0 0 40px;
}

.products {

    padding: 20px;
    display:flex;
    flex-wrap: wrap;
    justify-content: start;

}
.product {
    flex: 1;
    align-items: center;
    overflow: hidden;
    max-width: 215px;
    min-width: 190px;
    margin: 10px;
    padding: 10px;
    background-color: #F0F0F0;
    border-radius: 10px;

    -webkit-box-shadow: 3px 3px 10px 0px rgba(117,117,117,0.4);
    -moz-box-shadow: 3px 3px 10px 0px rgba(117,117,117,0.4);
    box-shadow: 3px 3px 10px 0px rgba(117,117,117,0.4);
    

    &__info {
        padding: 10px;
        display:flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__img {
        max-width: 100%;
    }

    &__title {
        font-size: .875rem;
        font-weight: 600;
    }
    
    &__price {
        color: tomato;
        text-align: right;
        font-weight: 600;
    }

    &__desc {
        font-size: .75rem;
    }
}

.item {
    flex-grow: 1;
}


